@use '/resources/scss/config/font-face';
@use '/resources/scss/config/colors';

@use '/resources/scss/common/flex';
@use '/resources/scss/common/grid';
@use '/resources/scss/common/text';
@use '/resources/scss/common/position';
@use '/resources/scss/common/scrollbar';

.body {
    & {
        min-height: 100vh;
        font-family: '#{font-face.$family}', sans-serif;
        color: text.$white;
        background-color: colors.$bgc-gray;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.flex {
        @extend %flex-col-sa-c;

        .page-container {
            flex-grow: 1;
        }
    }

    &.grid {
        grid-template:
            'header' auto
            'page-container' 1fr
            'footer' auto / 1fr;
    }

    &.scrollbar {
        @extend %scrollbar;
    }
}

.notification {
    @extend %position-fixed-top;

    &__message {
        color: colors.$white;
        @extend %text-shadow;
    }
}

.success {
    background-color: colors.$success;

    &__message {
        color: colors.$white;
    }
}

.error {
    background-color: colors.$error;

    &__message {
        color: colors.$white;
    }
}

.warning {
    background-color: colors.$warning;

    &__message {
        color: colors.gray();
    }
}

.info {
    background-color: colors.$info;

    &__message {
        color: colors.gray();
    }
}
