@use '/resources/scss/config/viewport';
@use '/resources/scss/config/colors';

@use '/resources/scss/common/flex';
@use '/resources/scss/common/text';
@use '/resources/scss/common/indent';

@use '/resources/scss/icons/svg-icons';

@use '/resources/views/components/article/article';
@use '/resources/views/components/button/button';
@use '/resources/views/components/table';

.posts.body {
}

.post.body {
}

.posts.main {
    @extend %font-size-20;
    .article__wrapper.flex {
        gap: 1em;
        @extend %flex-col-sb;
    }
}

.post.main {
    @extend %font-size-20;
    .main__top {
        padding-top: 20rem;
        background-color: colors.$bgc-gray;
    }
}

.post-pagination,
.post-more {
    @extend %font-size-20;
    .flex {
        gap: 2rem;
        @extend %flex-sb;
    }
}

.post-pagination {
    @extend %font-size-20;
    .post-pagination__left {
        .left {
            @extend %svg-chevron-left-before;
        }
    }
    .post-pagination__right {
        .right {
            @extend %svg-chevron-right-after;
        }
    }

    &__social {
        .social.flex {
            gap: 1em;
            @extend %flex-c;
        }
    }
}

.post-more {
    @extend %font-size-20;
    &__block {
        flex: 1 1;
        min-height: 22rem;
        background-color: colors.$bgc-gray;
    }
}
