@use 'sass:color';
@use 'sass:math';

@use '/resources/scss/config/colors';

$white: colors.$white;
$black: colors.$black;
$gray: colors.$gray-800;
$disabled: colors.$gray-800;
$accent: colors.$accent;
$active: colors.$active;

$color: $white;

$text-shadow-color-top: colors.$bgc-light;
$text-shadow-color-bottom: colors.$bgc-light;

:root {
    --color-text: #{$white};
}

%text-align {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.ta {
    &-l {
        @extend %text-align-left;
    }

    &-c {
        @extend %text-align-center;
    }

    &-r {
        @extend %text-align-right;
    }
}

%vertical-align {
    &-middle {
        vertical-align: middle;
    }
}

.va {
    &-m {
        @extend %vertical-align-middle;
    }
}

%text-transform {
    &-uppercase {
        text-transform: uppercase;
    }
    &-lowercase {
        text-transform: lowercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
}

.tt {
    &-uc {
        @extend %text-transform-uppercase;
    }
    &-lc {
        @extend %text-transform-lowercase;
    }
    &-cp {
        @extend %text-transform-capitalize;
    }
}

@mixin font-size($size) {
    font-size: math.div($size, 10) * 1rem;
}

$font-sizes: 12, 14, 16, 18, 24, 30, 36, 48, 60, 72;

@each $size in $font-sizes {
    %font-size-#{$size} {
        @include font-size($size);
    }
}
@each $size in $font-sizes {
    .t-#{$size} {
        @extend %font-size-#{$size};
    }
}

$h: (
    1: 2.5,
    2: 2,
    3: 1.75,
    4: 1.5,
    5: 1.25,
    6: 1,
);

@each $i, $size in $h {
    .h#{$i} {
        font-size: $size * 1em;
    }
}

.h1 {
    @extend %text-transform-uppercase;
    @extend %text-align-center;
}
.h2 {
}
.h3 {
}
.h4 {
}
.h5 {
}
.h6 {
}

@mixin font-weight($weight) {
    font-weight: $weight;
}

$font-weight-list: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$font-weights: 400, 700, 900;

@each $weight in $font-weight-list {
    %font-weight-#{$weight} {
        @include font-weight($weight);
    }
}
@each $weight in $font-weights {
    .fw-#{math.div($weight, 100)} {
        @extend %font-weight-#{$weight};
    }
}

@mixin text-shadow {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 4px 10px $text-shadow-color-top;
}

%text-shadow {
    @include text-shadow();
}
